h5 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-weight: normal;
}

/* 全局配置 */
body {
  font: 0.12rem/0.24rem "苹方", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "Arial", "sans-serif";
  color: #333333;
  -webkit-text-size-adjust: none;
  outline: none;
  background: #F9F9F9;
  min-height: 100vh;
}

li {
  list-style: none
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  border: 0;
  vertical-align: middle;
}

input {
  /*vertical-align: middle;*/
  border: none;
  outline: none;
}

textarea {
  resize: none
}

form {
  display: inline-block;
  width: 100%;
}

button {
  border: none;
  background: none;
  text-align: center;
  cursor: pointer;
  display: block;
}

s {
  text-decoration: none;
}

label {
  display: inline-block;
}

h3 {
  font-size: 14px;
}

b {
  vertical-align: middle;
}

em {
  font-style: normal;
}

p {
  margin: 0;
  padding: 0;
}

/* 禁用 radio 和 checkbox 默认样式 */
input[type=radio]::-ms-check,
input[type=checkbox]::-ms-check {
  display: none;
}

/*禁止长按链接与图片弹出菜单*/
a,
img {
  -webkit-touch-callout: none
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

textarea {
  overflow-y: auto;
  overflow-x: hidden;
  outline-style: none;
  outline-width: initial;
  outline-color: initial;
  resize: none
}

textarea:focus {
  border: none;
}


input[type=button] {
  -webkit-appearance: none;
  outline: none
}

/* 清浮动样式 */

* html .clearfix {
  zoom: 1;
}

*+html .clearfix {
  zoom: 1;
}

.clearfix:after {
  height: 0;
  visibility: hidden;
  content: ".";
  display: block;
  clear: both;
}

html {
  font-size: 85.2px;
}

/*安卓的尺寸已iphone5的尺寸为基础尺寸*/
/* iphone4*/
@media screen and (device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2) {
  html {
    font-size: 85.2px !important
  }
}

/* iphone5*/
@media screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) {
  html {
    font-size: 85.2px !important
  }
}

/* iphone6竖屏*/
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
  html {
    font-size: 100px !important
  }
}

/* iphone6 plus竖屏*/
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) {
  html {
    font-size: 110px !important
  }
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}